/* General */
body {
    overflow-y: scroll;
    width: 100vW;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    font-size:50px;
    font-weight:bold;
    text-align:center;
    padding-bottom:80px;
    color:white;
}

    /* End General */

    /* Header */

header {
    background-color: #2b3e50;
    height:100vh;
} 

.navbar {
background-color: #19232c;
} 

#navbarNav ul li:hover {
    background-color: #ff6600;
    
}

.nav-link{
    color:white !important;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
}

.navbar-brand{
    color:white !important;
}

.banner {
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.banner h2 {
    font-size: 40px;
    letter-spacing: 10px;
    text-shadow: 1px 2px 2px #002b4e;
    align-items: center;
}

.banner ul{
    display:flex;
    list-style:none;
    align-items:center;
    padding-left:0;
    margin-bottom:0;
}

.banner li{
    font-size: 130px;
    font-weight: 700;
    text-shadow: 1px 2px 2px #002b4e;
    align-items: center; 
    padding:12px;
}

.banner .dot {
    background-color: rgb(255, 102, 0);
    border-radius:50%;
}
    /* End Nav */

    /* About */

.about {
    background-color: #19232c;
}

.about p {
    color:white;
}

.picture {
    margin-bottom: 2rem;
}
  

    /* End About */

    /* Projects */

.projects {
    background-color: #405568;
}
.card-image-top {
    border:transparent !important;
}
.card-title {
    text-align:center;
    font-weight:bold;
}  

.card-body{
    padding:15px !important;
}
.card-subtitle{
    color: #00388b;
    padding-bottom:20px;
    text-align:center;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
}

    /*Skills*/

.skills {
    background-color:#19232c;
}

    /*End Skills*/

    /*Contact*/

.contact {
    background-color: #405568;
}

.fab {
    color:white;
    text-align: center;
    
}
.font-icon {
    font-size: 17px;
    
}
.down {
    color: #ff6600;
}
.icon-contact {
    margin-right: 10px;
}
.contact a:nth-child(1){
    color: white;
    text-decoration: none;
    margin-bottom: 35px;
    font-size: 30px;
}
    /*End Contact*/

    /*Media queries*/
@media (max-width: 640px ){
    .banner li {
        font-size: 30px;
        color: #ff6600;
        padding: 0px 5px 0px 5px;
    }
    .banner ul {
        display: flex;
        justify-content: inherit;
    }
    
    .banner h2 {
        font-size: 23px;
    }
    .banner .dot {
        display: none;
    }
}
