body{
font-family: 'Montserrat', sans-serif;
}

h2{
  text-transform: uppercase;
  text-align: center;
}
.banner {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  text-align: center; 
  /* text-transform: uppercase; */
  font-size: 70px;
}

.project{
    height: 100vh;
  width: 100vw;
  background-color: rgb(170, 90, 90);
  color: white;
  font-size: 40px;
}
.project h2{
  padding-top:100px;
}
.skills{
  height: 100vh;
width: 100vw;
background-color: rgb(0, 146, 85);
color: white;
font-size: 40px;
}
.about{
  height: 100vh;
width: 100vw;
background-color: rgb(65, 101, 201);
color: white;
font-size: 40px;
}
.contact{
  height: 100vh;
width: 100vw;
background-color: rgb(233, 69, 178);
color: white;
font-size: 40px;
}
.project h2, .skills h2, .about h2, .contact h2{
  padding-top:100px;
  font-size: 50px;
}

#box1, #box2, #box3, #box4 {
height:300px;
width:  200px;
background-color: blueviolet;
}

.works{
  list-style: none;
  padding-top: 50px;
}
